// COLORS
$color--primary: #1B355D;
$color--secundary: #a9c6f4;
$color--edit: green;
$color--delete: red;
$color--badges: rgb(161, 171, 208);
$color--background: aliceblue;
// FONTS
$font--family-formal: 'Times New Roman', Times, serif; 
$font--family-inFormal:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// WIDTHS
$container--width: 80%;

// PADDINGS
$padding--btn: 10px;

// BORDER RADIUS
$border--radius: 50px;
$border--radius-imputs: 40px;
$border--corner:20px;